# Compiled binaries
/vyakhya
/vyakhya_server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.test
*.out
*.prof

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Go env
go.work
